name: 'test squirrel package'

on:
  push:
    # Pattern matched against refs/tags
    tags:
      - '**'           # Push events to every tag including hierarchical tags like v1.0/beta

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  

env:
  VERSION_PROJECT_PATH: '${{ github.event.repository.name }}/${{ github.event.repository.name }}.csproj'
  REPO_NAME: '${{ github.event.repository.name }}'
  
jobs:
  release:
    environment: GlobalEnvironment
    runs-on: windows-2022
    permissions:
      contents: write
        
    steps:
      - uses: actions/checkout@v2

      - uses: kzrnm/get-net-sdk-project-versions-action@v1
        id: get-version
        with:
          proj-path: ${{ env.VERSION_PROJECT_PATH }}
          
      - name: dotnet build
        run: |
          dotnet publish --configuration Release --runtime win-x64 --self-contained True --output publish -p:DebugType=None -p:DebugSymbols=false

      - name: squirrel package
        run: |
          Set-Alias Squirrel ($env:USERPROFILE + "\.nuget\packages\clowd.squirrel\2.9.42\tools\Squirrel.exe");
          Squirrel pack --framework net6.0.2 --packId "${{ env.REPO_NAME }}" --packVersion "${{ steps.get-version.outputs.assembly-version }}" --packAuthors "ali50m" --packDir ".\publish" --allowUnaware

      - name: upload artifacts
        shell: bash
        working-directory: Releases
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{github.ref_name}}
          for filename in ./* ; do
            [ -f "$filename" ] || continue
            echo "Processing $filename ..."
            gh release upload ${{github.ref_name}} $filename
          done

      - id: new-weixin-api-message
        uses: ali50m/actions/new-weixin-api-message@main
        with:
          weixin: ${{secrets.WEIXIN}}
          result: "upload-artifacts-done"
          now: ""
